<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSQuiz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67E0C9B41F61C4770072BACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67E0C9C81F61C4770072BACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67E0C9D31F61C4770072BACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
